body {
    font-family: 'Open Sans', sans-serif;
}

.header-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: #313131;
    
}
.header-menu-logo {
    display: flex;
    margin-left: 29px;
    padding-top: 22px;
    padding-bottom: 21px;

}
.logo-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    padding-left: 27px;
    padding-top: 22px;
    padding-bottom: 22px;
}
.header-menu-list {
    display: flex;
    }
.header-menu-item {
    padding-right: 35px;
    }
.header-menu-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}
.header-menu-link:hover {
    color: #14B9D5;
}
.header-search {
    width: 68px;
    height: 68px;
    border: none;
    background-color: #000000;
    background-image: url("../img/header-search-icon.svg");
    background-repeat: no-repeat;
    background-position: right 26px bottom 27px;
}
.header-content {
    display: flex;
    flex-direction: column;
    background-image: url("../img/header-bg.svg");
    background-repeat: space;
    height: 369px;
}
.header-title {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    padding-top: 163px;
    padding-bottom: 44px;
}
.header-btn-wrapper {
    display: flex;
    justify-content: center;
}
.header-btn {
    width: 170px;
    height: 55px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.header-btn-green {
    background: #89CA62;
    margin-right: 20px;
}
.header-btn-blue {
    background: #14B9D5;
}
.popular-posts {
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    height: 1030px;
}
.section-title {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    margin-top: 49px;
    margin-bottom: 52px;
}
.popular-post-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 200px;
    margin-right: 200px;
    height: 900px;
}
.popular-post-content {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-bottom: 31px;
}
.popular-post-text {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-top: 20px;
    padding-bottom: 22px;
}
.popular-clients {
    display: flex;
    display: flex;
    flex-direction: column;
    background-image: url("../img/sect_2_bg.svg");
    background-repeat: space;
    height: 588px;
}
.popular-clients-title {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 108px;
    padding-bottom: 87px;
}
.popular-clients-rectangle {
    text-align: center;
    padding-bottom: 106px;
}
.popular-clients-logo-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 375px;
    margin-right: 375px;
}
.inline-img-section {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.inline-img {
    display: grid;
    justify-content: stretch;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.inline-img-item {
    width: 100%;
}
.hot-news-section {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-left: 200px;
    margin-right: 200px;
}
.hot-news-img {
    width: 100%;
}
.hot-news-text-right {
    display: flex;
    justify-content: stretch;
    align-items: center;
    text-align: right;
    height: 260px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);    
}
.hot-news-conteiner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.hot-news-text-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 100%;
    height: 418px;
}
.hot-news-text-none {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 260px;
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.hot-news-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-top: 14px;
    padding-bottom: 15px;
}
.hot-news-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.hot-news-wrapper {
    display: grid;
    justify-content: space-between;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 2em;
    column-gap: 5em;
}
.post1 {
    grid-area: 1 / 1 / 2 / 4;
}
.post2 {
    grid-area: 1 / 4/ 2 / 5;
}
.post3 {
    grid-area: 2 / 1 / 3 / 3;
}
.post4 {
    grid-area: 2 / 3 / 3 / 5;
}
.post5 {
    grid-area: 3 / 1 / 4 / 3;
}
.post6 {
    grid-area: 3 / 3 / 4 / 5;
}
.post7 {
    grid-area: 4 / 1 / 5 / 2;
}
.post8 {
    grid-area: 4 / 2 / 5 / 5;
}    
.footer-wrap {
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    background-color: #000000;
}
.footer-coppyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-logo-img {
    padding-top: 30px;
    padding-bottom: 30px;
}

